@font-face {
  font-family: "iconfont"; /* Project id 3698103 */
  src: url('iconfont.woff2?t=1683887083022') format('woff2'),
       url('iconfont.woff?t=1683887083022') format('woff'),
       url('iconfont.ttf?t=1683887083022') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chengshimingpian:before {
  content: "\e663";
}

.icon-tuceng:before {
  content: "\ea2d";
}

.icon-chaxun:before {
  content: "\e62f";
}

.icon-chaxun1:before {
  content: "\e6a2";
}

.icon-tiaozheng:before {
  content: "\e639";
}

.icon-bangzhushuoming:before {
  content: "\e6f3";
}

.icon-tuli:before {
  content: "\e6ae";
}

.icon-zizhiyun:before {
  content: "\e63d";
}

.icon-zhuzhuangtu:before {
  content: "\e929";
}

.icon-bingzhuangtucopy:before {
  content: "\e6c6";
}

.icon-dkw_jine:before {
  content: "\e60b";
}

.icon-ico_home_obligation:before {
  content: "\e65d";
}

.icon-gjiantous:before {
  content: "\e7cf";
}

.icon-guihuasheji:before {
  content: "\e651";
}

.icon-chengshiguanli:before {
  content: "\e610";
}

.icon-shujujiance:before {
  content: "\e7da";
}

.icon-tongji:before {
  content: "\e67f";
}

.icon-layers:before {
  content: "\e600";
}

.icon-xiangmu:before {
  content: "\e611";
}

.icon-knowledge:before {
  content: "\e629";
}

.icon-mobansheji:before {
  content: "\e627";
}

.icon-24gf-building:before {
  content: "\e838";
}

.icon-jianshe:before {
  content: "\e605";
}

.icon-guihua:before {
  content: "\e606";
}

.icon-24gf-city4:before {
  content: "\e839";
}

.icon-suoshuxiangzhen:before {
  content: "\ea06";
}

.icon-hangzhengquyuguanli:before {
  content: "\e628";
}

.icon-cunweihui:before {
  content: "\100dd";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-yanzhengma:before {
  content: "\e61b";
}

.icon-yonghu2:before {
  content: "\e7b2";
}

.icon-liuchengguanli:before {
  content: "\e725";
}

.icon-jianguan3:before {
  content: "\e61a";
}

.icon-city_fill:before {
  content: "\e79d";
}

.icon-shikong-kongjianxuanzhong:before {
  content: "\e60e";
}

